<span id="ping-result">
    ping[<span class="ping-count"></span>] :
    curr=<span class="ping-curr"></span>ms /
    average=<span class="ping-average"></span>ms /
    min=<span class="ping-min"></span>ms /
    max=<span class="ping-max"></span>ms
</span>

<textarea id="textarea-logger" rows="6" style="width: 100%;"></textarea>
