<div id="phaser-example"></div>
		
<script src="/libs/js/underscore-min.js"></script>
<script src="/libs/js/socket.io.js"></script>
<script src="/libs/js/pathfinding-browser.min.js"></script>
<script src="/libs/js/assert.js"></script>
<script src="/libs/js/phaser.min.js"></script>
<script src="/libs/js/sprintf.min.js"></script>

<script src="/app_client.js"></script>