language: node_js

node_js:
  - "0.12"

sudo: false

before_script:
  - cd server
  - npm install -g bower
  - npm install -g grunt-cli
  - npm install
  - bower install

script:
  - npm test
  - istanbul cover test/*.js
  - CODECLIMATE_REPO_TOKEN=6332e7fe310bfe4c5fd8689006abea4bd3c74cfaed6b9aa071bd9fbf932c195f codeclimate < coverage/lcov.info
