language: node_js

node_js:
  - "node"
  - "6"
  - "5"
  - "4"

sudo: false

before_script:
  - npm install -g bower
  - npm install -g grunt-cli
  - npm install
  - bower install

script:
  - echo "skip - grunt tsd"
  - grunt tslint
  - grunt test
  - grunt coverage
  - CODECLIMATE_REPO_TOKEN=6332e7fe310bfe4c5fd8689006abea4bd3c74cfaed6b9aa071bd9fbf932c195f codeclimate < coverage/lcov.info
  - cat ./coverage/lcov.info | ./node_modules/.bin/coveralls

notifications:
  - email: false
