<!DOCTYPE html>
<html>
	<head>
		<title>Game</title>
		
		<% include ../partials/head %>
	</head>
	<body>
		<div id="game"></div>
			
		<h2>Command</h2>
		<button class="cmd-move" data-dx="0" data-dy="1">Up</button>
		<button class="cmd-move" data-dx="0" data-dy="-1">Down</button>
		<button class="cmd-move" data-dx="-1" data-dy="0">Left</button>
		<button class="cmd-move" data-dx="1" data-dy="0">Right</button>
			
		<script src="/libs/js/underscore-min.js"></script>
		<script src="/libs/js/jquery.min.js"></script> 
		<script src="/libs/js/jquery-ui.min.js"></script>
		<script src="/libs/js/socket.io.js"></script>
		<script src="/libs/js/pathfinding-browser.min.js"></script>

		<script src="/base.js"></script>
		<script src="/level.js"></script>
		<script src="/world.js"></script>
		<script src="/user.js"></script>
		<script src="/enemy.js"></script>
		<script src="/player.js"></script>
		
		<script src="/index.js"></script>
	</body>
</html>
