<!DOCTYPE html>
<html>
	<head>
		<title>Game</title>
		
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/debug_info %>
		<% include ../partials/game_core %>	

		<script>
		var main = new kisaragi.ClientMain(kisaragi.GamePlayMode.MultiPlay);
		</script>
	</body>
</html>
