<!doctype html>
<html>
	<head>
		<title>Project Kisaragi</title>
		
		<% include ../partials/head %>
		
	</head>
	<body>
		<h1>Project Kisaragi</h1>
		<ul>
			<li><a href="/game">Multi-play Game</a></li>
      <li><a href="/single">Single-play Game</a></li>

      <ul>
        <li>wasd + mouse(empty) : move</li>
        <li>mouse(enemy) : attack</li>
        <li>space : jump zone (if located at jump point)</li>
        <li>r : restart</li>
      </ul>
		</ul>
	</body>
</html>
