<!doctype html>
<html>
	<head>
		<title>Project Kisaragi</title>
		
		<% include ../partials/head %>
		
	</head>
	<body>
		<h1>Project Kisaragi</h1>
		<ul>
			<li><a href="/game">Game</a></li>
			<li><a href="/admin">Admin</a></li>
		</ul>
	</body>
</html>
